
/* -----------------------------------------------MainLayout------------------------------------------------*/

body{
  background-color: #c9d0d6;
}
.bodystyle{
  border-radius:0px 0px 20px 20px;
  max-width: 1100px;
  background-color: #fffff1;
}

@media (min-width: 360px) {
  .container {
    max-width: 100%;
  }
}
.container{
  margin-right:auto;
  margin-left: auto;
}

/* HEADER*/
header{
  background-image: url(img/gradient.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  min-height: 80px;
}
.menuIcon{
  font-size: 25px;
  color: #ffffff;
}
a.menuLink{
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}
#projectTitleLink{
    text-decoration: none;
}
#projectTitle{
  font-family: "Times New Roman", Times, serif;
  color: #fffffe;
  text-align:center;

}

.tileMenu{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

/*FOODER*/
footer {
  border-radius:0px 0px 20px 20px;
  clear:both;
  position: relative;
  height:50px;
  background-color: #B0C4DE;
}
#footerText{
  font-family: "Times New Roman", Times, serif;
  color: #5e7c9c;
  margin: 0px;
}

/*SEARCH*/
.searchControl{
  margin-top: 0px;
  width: 100%;
}
.instSearch{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;

}

/* -----------------------------------------------Homepage------------------------------------------------*/


#hompeCont{
  padding: 15px;
}
.tile1{
  margin: 5px;
  width: 200px;
  height: 124px;
  background-color: #3095d3;
  float: left;
  font-size: 25px;

}
.tile1:hover{
  background-color: #2084c2;
}
a.tilelink{
  color: #ffffff;
  display: table-cell;
  width: 200px;
  height: 94px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  overflow:hidden;
}
.bottomRowInst{
  color: #ffffff;
  display: block;
  width: 200px;
  height: 30px;
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
  line-height: 30px;
  background-color: #1073B1;
}
#addInstitutionTile{
  color: #ffffff;
  margin: 5px;
  width: 200px;
  height: 124px;
  background-color: #3095d3;
  text-align: center;
  float: left;
  font-size: 100px;
  padding-top: 6px;
}
#addInstitutionTile:hover{
  background-color: #2084c2;
}
#row-add-article{
  margin-right: 0px;
  margin-top: 300px;
}

.table{
  width: 100%;
}



#bottom-button-add-institution{
  margin-right: 20px;
  float:right;
}

/* -----------------------------------------------Institution------------------------------------------------*/

#dataPublikacji{
  font-size: 6px;
  color: #CFC6CF;
}
#tresc{
  margin-top: 5px;
  font-size: 16px;
}
#tytul{
  font-size: 20px;
  font-weight: bold;
}

#autor{
    margin-top: 8px;
    font-size:14px;
    font-weight: bold;
}

#sidebar-wrapper {
}

#aboutUs-p{
  text-align: center;
}

.sidebar-nav {
    position: absolute;
    top: 0 px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #E0E8EE;
    background: rgba(255,255,255,0.1);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-title {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-title a {
    color: #999999;
}

.sidebar-nav > .sidebar-title a:hover {
    color: #E0E8EE;
    background: none;
}
/* -----------------------------------------------AtricleView------------------------------------------------*/
#bottom-button-add-article{
  margin-right: 30px;
  float: right;
}
#centerTopSection{
  text-align: center;
}
#articles{
  margin-top: 20px;
}
#bottom-Row{

}
#selectpicker{
  style: 'btn-info',
  size: 4
}
/* -----------------------------------------------SeacrchResults-------------------------------------------------*/
.searchContentView{
  display: block;
  overflow: hidden;
  text-align: justify;
  line-height: 15px;
  max-height: 45px;
  width: 100%
}
.searchBackground{
  padding: 5px;
  border-radius:10px;
}
.searchBackground:hover{
  background-color: transparent;
  background-color: rgba(169,169,169, 0.4);
}
.serachHeading{
  margin-bottom: 5px;
  color: #000000;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
a.searchLink{
  text-decoration: none;
}
